<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Connexion - GesLivraison</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-light">

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
